


body {
    font-family: 'Oswald', sans-serif;
}

.bg-header {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
}
.center_img_header {
   margin-top: 15%;
}
.main-navigation {
    background-color: rgba(0,0,0,0.63);
}